html
    head
        <!-- inject:css -->
        <!-- endinject -->
    body(ng-app='app', ng-controller='mainCtrl')
        .box
            selector(values="objectItems" ng-model="objectSelectedItem" label="Description" ng-change="modelChanged(objectSelectedItem)" model-value="name" ng-disabled="false" match-class="highlight" empty-result-message="no item"  adding="Add new item" settings="selectorSettings" placeholder="Enter value")
        <!-- inject:js -->
        <!-- endinject -->

