html
    head
        <!-- inject:css -->
        <!-- endinject -->
    body(ng-app='app', ng-controller='mainCtrl')
        .box
            selector(values="objectItems" ng-model="objectSelectedItem" ng-change="modelChanged(objectSelectedItem)" model-value="name"  match-class="highlight" adding="true" placeholder="Enter value")
        <!-- inject:js -->
        <!-- endinject -->

