html
    head
        <!-- inject:css -->
        <!-- endinject -->
    body(ng-app='app', ng-controller='mainCtrl')
        .box
            selector(values="objectItems" model="objectSelectedItem" model-changed="" model-value="name"  match-class="highlight" adding="true")
        <!-- inject:js -->
        <!-- endinject -->

